<div class="w-full">
  <%= render 'notice' %>

  <h1 class="font-bold text-xl mb-6 pb-2 border-b-2">Your Art(sy) depot</h1>

  <% if @visit_count > 0 and @visit_count % 5 == 0 %>
    <p class="mb-4 font-bold text-red-400">Just browsing, huh?</p>
  <% end %>

  <%= turbo_stream_from 'store/products' %>

  <% cache @products do %>
    <ul>
      <% @products.each do |product| %>
        <%= render 'product', product: %>
      <% end %>
    </ul>
  <% end %>
</div>